## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from dotenv import load_dotenv
load_dotenv()
g_key = os.getenv("Google_API_KEY")
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\manja\Desktop\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,3,San Matias,GA,83.97,scattered clouds,-16.3667,-58.4000,"HOTEL ""SAN JOSE"""
1,4,Moorhead,GA,85.98,clear sky,46.8739,-96.7676,"Courtyard by Marriott Fargo Moorhead, MN"
2,7,Kapaa,GA,84.52,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,16,Hilo,GA,84.27,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
4,22,Dwarka,GA,82.80,overcast clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
5,24,Anloga,GA,75.25,few clouds,5.7947,0.8973,Pin Drop Hotel
6,31,Alta Floresta,GA,80.33,clear sky,-9.8756,-56.0861,Floresta Amazonica Hotel
7,41,Sabi,GA,75.38,heavy intensity rain,13.2333,-14.2000,NaN
8,45,Itarema,GA,78.96,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
9,50,Atuona,GA,77.40,few clouds,-9.8000,-139.0333,Villa Enata

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Pamplona"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Pamplona"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] =="Ponferrada"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] =="Zafra"]
vacation_stop3 =vacation_df.loc[vacation_df["City"] =="Torrevieja"]

In [34]:
#ASK about [0]
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [35]:
print(f'Start: {start}\nStop 1: {stop1} \nStop 2: {stop2} \nStop 3: {stop3} \nEnd: {end}  ')

Start: (42.8169, -1.6432)
Stop 1: (42.5466, -6.5962)
Stop 2: (38.4167, -6.4167)
Stop 3: (37.9787, -0.6822)
End: (42.8169, -1.6432)

In [36]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1 , stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
229,694,Pamplona,GA,75.11,few clouds,42.8169,-1.6432,Hotel Albret

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,694,Pamplona,GA,75.11,few clouds,42.8169,-1.6432,Hotel Albret
1,398,Ponferrada,GA,75.27,scattered clouds,42.5466,-6.5962,Hotel Temple Ponferrada
2,164,Zafra,GA,81.63,broken clouds,38.4167,-6.4167,Parador de Zafra
3,594,Torrevieja,GA,81.72,clear sky,37.9787,-0.6822,Hotel Fontana Plaza

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))