In [1]:
# Import the dependencies.
%matplotlib inline
import matplotlib.pyplot as plt
import json
import requests
import os
import pandas as pd
import numpy as np
import gmaps
import requests
from scipy.stats import linregress
from citipy import citipy
from datetime import datetime
import time

# Import the API key.
from dotenv import load_dotenv

load_dotenv()

g_key= os.getenv("Google_API_KEY")

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-07-20 14:39:14,-33.6500,115.3333,63.66,83,100,14.25
1,1,Alyangula,AU,2022-07-20 14:43:33,-13.8483,136.4192,68.02,76,25,7.20
2,2,Smithers,CA,2022-07-20 14:43:33,54.7804,-127.1743,43.12,100,20,2.30
3,3,Rikitea,PF,2022-07-20 14:42:13,-23.1203,-134.9692,72.86,77,4,3.00
4,4,Acapulco,MX,2022-07-20 14:43:34,16.8634,-99.8901,82.13,71,67,0.98

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Acapulco,MX,2022-07-20 14:43:34,16.8634,-99.8901,82.13,71,67,0.98
8,8,Porto Novo,BJ,2022-07-20 14:43:25,6.4965,2.6036,79.75,61,99,10.45
9,9,Mazagao,BR,2022-07-20 14:43:35,-0.1150,-51.2894,87.85,57,32,5.44
14,14,Bondoukou,CI,2022-07-20 14:43:38,8.0333,-2.8000,78.93,63,94,6.08
16,16,Kavieng,PG,2022-07-20 14:43:38,-2.5744,150.7967,81.50,78,100,11.03
19,19,Butaritari,KI,2022-07-20 14:42:04,3.0707,172.7902,81.03,80,100,11.07
21,21,Georgetown,MY,2022-07-20 14:40:16,5.4112,100.3354,84.13,82,20,3.44
24,24,Bethel,US,2022-07-20 14:43:41,41.3712,-73.4140,89.87,67,0,3.44
29,29,Atuona,PF,2022-07-20 14:42:03,-9.8000,-139.0333,76.59,80,30,14.54
32,32,Victoria,HK,2022-07-20 14:41:45,22.2855,114.1577,88.32,79,6,10.00

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
preferred_cities_df.count()

City_ID       230
City          230
Country       230
Date          230
Lat           230
Lng           230
Max Temp      230
Humidity      230
Cloudiness    230
Wind Speed    230
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4     Acapulco      MX     82.13  16.8634  -99.8901
8   Porto Novo      BJ     79.75   6.4965    2.6036
9      Mazagao      BR     87.85  -0.1150  -51.2894
14   Bondoukou      CI     78.93   8.0333   -2.8000
16     Kavieng      PG     81.50  -2.5744  150.7967
19  Butaritari      KI     81.03   3.0707  172.7902
21  Georgetown      MY     84.13   5.4112  100.3354
24      Bethel      US     89.87  41.3712  -73.4140
29      Atuona      PF     76.59  -9.8000 -139.0333
32    Victoria      HK     88.32  22.2855  114.1577

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Acapulco,MX,82.13,16.8634,-99.8901,HS Hotsson Smart Acapulco
8,Porto Novo,BJ,79.75,6.4965,2.6036,Tour Eiffel Hotel Benin
9,Mazagao,BR,87.85,-0.1150,-51.2894,Recanto dos Ferreiras
14,Bondoukou,CI,78.93,8.0333,-2.8000,Prestige Hotel
16,Kavieng,PG,81.50,-2.5744,150.7967,Nusa Island Retreat
19,Butaritari,KI,81.03,3.0707,172.7902,Isles Sunset Lodge
21,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
24,Bethel,US,89.87,41.3712,-73.4140,Courtyard by Marriott Danbury
29,Atuona,PF,76.59,-9.8000,-139.0333,Villa Enata
32,Victoria,HK,88.32,22.2855,114.1577,Mini Central

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))